* {
    box-sizing: border-box;
    transition: 0.2s;
}

body {
    margin: 0;
    font-family: Inter, Segoe UI, Roboto, system-ui, Arial;
    background: var(--gradient);
    color: var(--text-clr1);
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}