body.dark {
    --primary: var(--accent3);
    --solid1: rgba(15, 25, 35);
    --solid2: rgba(255, 255, 255, 0.02);
    --solid3: rgba(10, 20, 30);
    --solid4: rgba(255, 255, 255, 0.075);

    --accent1: rgba(255, 122, 25, 0.2);
    --accent2: rgba(150, 75, 15);
    --accent3: rgba(255, 125, 5);

    --text-clr1: rgba(245, 250, 255);
    --text-clr2: rgba(150, 160, 180);

    --border1: rgba(255, 255, 255, 0.3);
    --border2: rgba(255, 255, 255, 0.15);

    --glass: linear-gradient(180deg, rgba(15, 30, 35, 1), rgba(20, 40, 50, 0.8));
    --gradient: linear-gradient(180deg, rgba(5, 20, 25), rgba(10, 25, 35));

    --all-orders: linear-gradient(180deg, rgba(70, 80, 90), rgba(70, 80, 90, 0.03));
    --all-orders-hover: linear-gradient(180deg, rgba(105, 120, 135), rgba(105, 120, 135, 0.06));

    --pending-orders: linear-gradient(180deg, rgba(100, 65, 25), rgba(100, 65, 25, 0.03));
    --pending-orders-hover: linear-gradient(180deg, rgba(140, 95, 40), rgba(140, 95, 40, 0.06));

    --inprogress-orders: linear-gradient(180deg, rgba(25, 65, 100), rgba(25, 60, 100, 0.03));
    --inprogress-orders-hover: linear-gradient(180deg, rgba(40, 95, 140), rgba(40, 95, 140, 0.06));

    --finished-orders: linear-gradient(180deg, rgba(20, 80, 55), rgba(20, 80, 55, 0.03));
    --finished-orders-hover: linear-gradient(180deg, rgba(25, 100, 70), rgba(25, 100, 70, 0.06));
}

body.light {
    --primary: var(--accent3);
    --solid1: rgba(250, 250, 250);
    --solid2: rgba(0, 0, 0, 0.03);
    --solid3: rgba(255, 255, 255);
    --solid4: rgba(0, 0, 0, 0.06);

    --accent1: rgba(255, 122, 24, 0.1);
    --accent2: rgba(0, 0, 0, 0.2);
    --accent3: rgb(255, 125, 5);

    --text-clr1: rgba(50, 60, 70);
    --text-clr2: rgba(90, 100, 120);

    --border1: rgba(0, 0, 0, 0.2);
    --border2: rgba(0, 0, 0, 0.1);
    --border3: rgba(0, 0, 0, 0.05);

    --glass: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(250, 250, 250, 0.8));
    --gradient: linear-gradient(180deg, rgba(245, 245, 250), rgba(230, 235, 240));

    --all-orders: linear-gradient(180deg, rgba(180, 185, 190), rgba(200, 205, 210, 0.3));
    --all-orders-hover: linear-gradient(180deg, rgba(180, 185, 190), rgba(200, 205, 210, 0.3));

    --pending-orders: linear-gradient(180deg, rgba(255, 200, 140), rgba(255, 230, 200, 0.4));
    --pending-orders-hover: linear-gradient(180deg, rgba(255, 180, 100), rgba(255, 210, 160, 0.5));

    --inprogress-orders: linear-gradient(180deg, rgba(135, 180, 240), rgba(200, 215, 255, 0.3));
    --inprogress-orders-hover: linear-gradient(180deg, rgba(110, 160, 230), rgba(180, 200, 255, 0.4));

    --finished-orders: linear-gradient(180deg, rgba(140, 220, 180), rgba(200, 245, 220, 0.4));
    --finished-orders-hover: linear-gradient(180deg, rgba(110, 200, 150), rgba(180, 230, 200, 0.5));
}