input,
textarea,
/* select, */
.select-wrapper,
.btn {
    border: 1px solid var(--border2);
    font-size: 14px;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 8px;
    background: var(--solid3);
    color: inherit;
    min-height: 40px;
}

input,
textarea,
.btn {
    padding: 0px 14px;
}

.theme-toggle {
    position: fixed;
    bottom: 16px;
    left: 16px;
}

.lnk {
    font-size: 14px;
    color: var(--text-clr2);
    text-decoration: none;
}

.lnk a:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
}

.select-wrapper,
.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.btn:hover {
    background: var(--solid4);
}

.icon-btn {
    padding: 8px;
    width: 40px !important;
    height: 24px !important;
    color: var(--text-clr2);
    background-color: transparent;
    border-radius: 8px;
    border: none;
}

.icon-btn:hover {
    background-color: var(--solid4);
    color: var(--text-clr1);
}

.delete:hover {
    color: red;
}

.active {
    transition: 0.075s;
    background: var(--accent1);
    border-left: 3px solid var(--accent3);
    color: var(--text-clr1);
}

.active:hover {
    background: var(--accent1) !important;
}

.description {
    resize: none;
    padding-top: 14px;
}

@media (max-width: 600px) {
    .btn {
        font-size: 12px;
        padding: 8px 10px;
    }
}