.select-wrapper {
    width: fit-content;
    position: relative;
    display: inline-block;
}

.select-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-clr2);
    pointer-events: none;
}

.select-wrapper:hover {
    background-color: var(--solid4);
}

select {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    background: transparent;
    color: inherit;
    padding: 10px 28px 10px 14px;
    appearance: none;
    font-size: 14px;
}


select option {
    background-color: var(--solid3);
    color: inherit;
    padding: 8px;
    border: none;
}