.form-column {
    display: flex;
    flex-direction: column;
}

.form-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

label {
    margin-right: 0 !important;
}