.form-column {
    display: flex;
    flex-direction: column;
}

.form-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-section .select-wrapper{
    width: 100%;
}
.form-section select{
    width: 100%;
}

.form-section label {
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
}

.form-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

label {
    margin-right: 0 !important;
}