.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    margin-bottom: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.work-area {
    flex: 1;
    overflow: hidden;
}

.vertical {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.horizontal {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    gap: 10px;
}

.max-height {
    flex-grow: 1;
}

.max-width {
    flex-grow: 1;
}

.full-width {
    width: 100% !important;
}

.grow {
    flex-grow: 1;
}

.desktop-only {
    display: flex !important;
}

.mobile-only {
    display: none !important;
}

@media (max-width: 600px) {
    .desktop-only {
        display: none !important;
    }

    .mobile-only {
        display: flex !important;
    }
}

.main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 22px 7%;
    overflow-y: auto;
}

.background {
    background: var(--gradient);
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fit-width {
    width: fit-content;
}

.fit-height {
    height: fit-content;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    /* margin-bottom: 10px; */
}

@media (max-width: 1500px) {
    .main {
        padding: 20px 16px;
    }
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .main {
        padding: 16px;
    }
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .main {
        padding: 16px;
    }

    .header {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .header input,
    .header .btn {
        width: 100%;
        margin: 0;
    }
}