.list-container {
    background: var(--solid3);
    border: 1px solid var(--border2);
    border-radius: 8px;
    padding: 6px 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.list-empty {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: var(--text-clr2);
    text-align: center;
    width: 100%;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    border-radius: 8px;
    cursor: pointer;
    min-height: 40px;
    flex-shrink: 0;
    max-width: 100%;
    box-sizing: border-box;
}

.list-item>div:first-child:not(.icon-btn),
.list-item>span:first-child {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.list-item>div:last-child {
    flex-shrink: 0;
}

.list-item:hover {
    background: var(--solid4);
}