.job-status-pending {
    background: var(--pending-orders) !important;
}

.job-status-inprogress {
    background: var(--inprogress-orders) !important;
}

.job-status-done {
    background: var(--done-orders) !important;
}

.job-status-all {
    background: var(--all-orders) !important;
}

.job-status-pending.glow::before {
    background: var(--pending-orders-hover);
}

.job-status-inprogress.glow::before {
    background: var(--inprogress-orders-hover);
}

.job-status-done.glow::before {
    background: var(--done-orders-hover);
}

.job-status-all.glow::before {
    background: var(--all-orders-hover);
}