.job-status-pending {
    background: var(--pending-jobs) !important;
}

.job-status-inprogress {
    background: var(--inprogress-jobs) !important;
}

.job-status-done {
    background: var(--done-jobs) !important;
}

.job-status-archived {
    background: var(--archived) !important;
}

.job-status-active {
    background: var(--active-orders) !important;
}

.job-status-pending.glow::before {
    background: var(--pending-jobs-hover);
}

.job-status-inprogress.glow::before {
    background: var(--inprogress-jobs-hover);
}

.job-status-done.glow::before {
    background: var(--done-jobs-hover);
}

.job-status-archived.glow::before {
    background: var(--archived-hover);
}

.job-status-active.glow::before {
    background: var(--active-orders-hover);
}