.tile table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.tile table tbody tr {
    cursor: pointer;
    border-bottom: 0.5px solid var(--border2);
    height: 56px;
}

.tile table tbody tr:hover {
    background-color: var(--solid4);
}

.tile table th,
.tile table td {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid var(--border3);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}