.tile {
    background: var(--glass);
    padding: 22px 18px;
    border-radius: 12px;
    border: 1px solid var(--border2);
}

.tile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.tile.count-tile {
    display: flex;
    justify-content: space-between;
}

.tile.count-tile h3 {
    margin: auto 0 5px 0;
}

.tile.count-tile .count {
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    color: var(--text-clr2);
}


@media (max-width: 600px) {
    .tile {
        padding: 16px;
    }
}