.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border2);
}

.divider span {
  margin: 0 10px;
  font-size: 14px;
  color: var(--text-clr2);
  text-transform: uppercase;
}

.vertical-divider {
  width: 1px;
  background: var(--border2);
  margin: 0 20px;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth .form-section {
  width: 350px;
}

.auth .lnk{
  margin-right:auto;
}