.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.theme-toggle {
  position: fixed;
  bottom: 16px;
  left: 16px;
}

form {
  width: 375px;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-section {
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.lnk {
  font-size: 14px;
  color: var(--text-clr2);
  text-decoration: none;
}

.lnk a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.background {
  background: var(--gradient);
}