.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.theme-toggle {
  position: fixed;
  bottom: 16px;
  left: 16px;
}

form {
  width: 375px;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-section {
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.lnk {
  font-size: 14px;
  color: var(--text-clr2);
  text-decoration: none;
}

.lnk a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.background {
  background: var(--gradient);
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border2);
}

.divider span {
  margin: 0 10px;
  font-size: 14px;
  color: var(--text-clr2);
  text-transform: uppercase;
}
