body.dark {
    --solid1: rgba(15, 25, 35);
    --solid2: rgba(255, 255, 255, 0.02);
    --solid3: rgba(10, 20, 30);
    --solid4: rgba(255, 255, 255, 0.075);

    --accent1: rgba(255, 122, 25, 0.2);
    --accent2: rgba(150, 75, 15);
    --accent3: rgba(255, 125, 5);

    --text-clr1: rgba(245, 250, 255);
    --text-clr2: rgba(150, 160, 180);

    --border1: rgba(255, 255, 255, 0.3);
    --border2: rgba(255, 255, 255, 0.15);
    --border3: rgba(255, 255, 255, 0.1);

    --glass: linear-gradient(180deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.05));
    --gradient: linear-gradient(180deg, rgba(5, 20, 25), rgba(10, 25, 35));

    --all-orders: linear-gradient(180deg, rgba(25, 65, 100), rgba(25, 60, 100, 0.03));
    --pending-orders: linear-gradient(180deg, rgba(100, 65, 25), rgba(100, 65, 25, 0.03));
    --inprogress-orders: linear-gradient(180deg, rgba(25, 100, 65), rgba(25, 100, 65, 0.03));
}

body.light {
    --solid1: rgba(250, 250, 250);
    --solid2: rgba(0, 0, 0, 0.03);
    --solid3: rgba(255, 255, 255);
    --solid4: rgba(0, 0, 0, 0.06);

    --accent1: rgba(255, 122, 24, 0.1);
    --accent2: rgba(0, 0, 0, 0.2);
    --accent3: rgb(255, 125, 5);

    --text-clr1: rgba(50, 60, 70);
    --text-clr2: rgba(90, 100, 120);

    --border1: rgba(0, 0, 0, 0.2);
    --border2: rgba(0, 0, 0, 0.1);
    --border3: rgba(0, 0, 0, 0.05);

    --glass: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.7));
    --gradient: linear-gradient(180deg, rgba(245, 245, 250), rgba(230, 235, 240));

    --all-orders: linear-gradient(180deg, rgba(135, 180, 240), rgba(200, 215, 255, 0.3));
    --pending-orders: linear-gradient(180deg, rgba(255, 200, 140), rgba(255, 230, 200, 0.4));
    --inprogress-orders: linear-gradient(180deg, rgba(140, 220, 180), rgba(200, 245, 220, 0.4));
}


* {
    box-sizing: border-box;
    transition: 0.2s;
}

body {
    margin: 0;
    font-family: Inter, Segoe UI, Roboto, system-ui, Arial;
    background: var(--solid1);
    color: var(--text-clr1);
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    height: calc(100vh - 64px);
    overflow: hidden;
}

.main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 22px 7%;
    overflow-y: auto;
}

.tile {
    background: var(--glass);
    padding: 22px 18px;
    border-radius: 12px;
    border: 1px solid var(--border2);
    min-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top:0;
}

.tile-header h3 {
    margin: 0;
}

.tile label {
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
}

.tile form{
    width:500px;
    margin-top: 10px;
    margin-bottom: 0;
}

.tile form .form-section {
    margin-bottom: 20px;
}

input,
textarea,
select {
    border: 1px solid var(--border2);
    font-size: 14px;
    width: 100%;
    height: auto;
    margin: 0;
}

input,
textarea,
select,
.btn {
    padding: 10px 14px;
    border-radius: 8px;
    background: var(--solid3);
    color: inherit;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border: 1px solid var(--accent2);
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background: var(--solid4);
}

.select-wrapper {
    width: 220px;
    position: relative;
    display: inline-block;
}

.select-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-clr2);
    pointer-events: none;
}

select {
    width: 100%;
    background: var(--solid3);
    border: 1px solid var(--border2);
    color: inherit;
    padding: 10px 28px 10px 14px;
    border-radius: 8px;
    appearance: none;
    cursor: pointer;
    font-size: 14px;
}

select:hover {
    background-color: var(--solid4);
}

select option {
    background-color: var(--solid3);
    color: inherit;
    padding: 8px;
    border: none;
}

@media (max-width: 1500px) {
    .main {
        padding: 20px 16px;
    }
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .main {
        padding: 16px;
    }
}

@media (max-width: 600px) {
    .btn {
        font-size: 12px;
        padding: 8px 10px;
    }

    .tile {
        padding: 16px;
    }
}