.edit-client-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.edit-client-container .form-column {
    display: flex;
    flex-direction: column;
}

.edit-client-container .car-list-section {
    margin-top: 0;
    /* Remove top margin as it's now a column */
    height: 100%;
}

@media (max-width: 768px) {
    .edit-client-container {
        grid-template-columns: 1fr;
    }
}

.main.edit-client-page {
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.main.edit-client-page .tile {
    width: 900px;
    max-width: 95%;
}