.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    background: var(--solid2);
    border-bottom: 1px solid var(--border2);
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative
}

.brand h1 {
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.6px
}

.profile {
    display: flex;
    align-items: center;
}

.profile-name {
    padding: 6px 10px;
    border-radius: 8px;
    color: var(--text-clr2);
    cursor: pointer;
}

.profile-name:hover{
    background-color: var(--solid4);
    color: var(--text-clr1);
}

.logout-icon {
    cursor: pointer;
    padding: 8px;
    color: var(--text-clr2);
    border-radius: 8px;
}

.logout-icon:hover{
    background-color: var(--solid4);
    color: var(--text-clr1);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-clr1);
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .brand h1 {
    font-size: 16px;
  }

  .select-wrapper {
    display: none;
  }
}
