/* Layout handled by common/table.css and common/layout.css */

.job-type-form {
  width: fit-content;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.description {
  height: calc(100% - 30px);
  width: 480px;
  resize: none;
}

.color-button {
  width: 100px;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .5px;
}

.color-button:hover {
  opacity: 0.85;
}

.job-type-edit .form-left,
.job-type-edit .form-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.job-type-edit .form-right {
  width: 350px;
}

@media (max-width: 700px) {
  .form-row {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .job-types-header {
    flex-direction: column;
    align-items: stretch;
  }

  .job-types-header input,
  .job-types-header select,
  .job-types-header .btn {
    width: 100%;
  }
}