.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.theme-toggle {
  position: fixed;
  bottom: 16px;
  left: 16px;
}


form .btn {
    float: right;
}
