.makes-models-container {
    display: flex;
    gap: 20px;
    height: 100%;
}

.pane {
    flex: 1;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pane-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pane-header h3 {
    margin: 0;
    color: var(--text-primary);
}

.makes-models .tile {
    width: fit-content;
    height: 700px;
    display: flex;
    ;
}

.makes-models .popup {
    width: 400px !important;
    height: fit-content !important;
    flex-direction: column;
}

.makes-models .form-left,
.makes-models .form-right {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.makes-models .form-left {
    width: 350px;
}

.makes-models .form-right {
    width: 500px;
}

.parts-tree-children {
    padding-left: 1.5rem;
}