.sidebar {
    width: 220px;
    background: var(--gradient);
    padding: 18px;
    border-right: 1px solid var(--border2);
    color: var(--text-clr2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    position: relative;
    z-index: 200;
    transition: transform 0.3s ease;
}

.nav-item {
    text-align: center;
}

.nav-item i {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        height: 100vh;
        width: 240px;
        box-shadow: none;
    }

    .sidebar.open {
        transform: translateX(0);
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    }
}

.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 100;
}

.sidebar-overlay.show {
    opacity: 1;
    visibility: visible;
}

.nav-item {
    display: flex;
    gap: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 6px;
    cursor: pointer;
}

.nav-item:hover {
    background: var(--solid4);
    color: var(--text-clr1);
}

.nav-item.active {
    transition: 0.075s;
    background: var(--accent1);
    border-left: 3px solid var(--accent3);
    color: var(--text-clr1);
}

.nav-item i {
    width: 20px;
    text-align: center;
}

.sidebar .btn {
    margin-top: auto;
    justify-content: flex-start;
    gap: 8px;
}