.tile table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.tile table tbody tr {
    cursor: pointer;
    border-bottom: 0.5px solid var(--border2);
}

.tile table tbody tr:hover {
    background-color: var(--solid4);
}

.tile table th,
.tile table td {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid var(--border3);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tile table th.description,
.tile table td.description {
    width: 100%; 
}
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: var(--text-clr2);
}
@media (max-width: 1000px) {
    .tile table th,
    .tile table td {
        font-size: 13px;
    }
}

@media (max-width: 600px) {

    .tile table th,
    .tile table td {
        font-size: 12px;
        padding: 6px 8px;
    }

    .tile .btn-delete {
        font-size: 11px;
        padding: 3px 6px;
    }
}

/* Edit Worker Page */
/* .edit-worker-page {
  padding: 20px;
}

.worker-info,
.roles-section,
.abilities-section,
.work-hours-section,
.leave-management {
  margin-bottom: 30px;
}

.worker-info input,
.roles-section input,
.abilities-section input,
.work-hours-section input {
  padding: 8px;
  margin-top: 5px;
  width: 200px;
} */
/* 
button {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--solid3);
  color: inherit;
  border: 1px solid var(--border2);
  cursor: pointer;
} */

/* button:hover {
  background-color: var(--solid4);
} */

/* .leave-popup {
  background: var(--glass);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
} */
